.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  
  justify-content: center;
  align-items: center;

  background-color: var(--background);
}

.questionContainer { 
  width: 30rem;
  background-color: var(--white);
  border-radius: 5px;
  padding: 0.5rem;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}

.questionContainer button {
  cursor: pointer;
  border-radius: 5px;
}

.questionContainer header {
  background-color: var(--blue);
  text-align: center;
  margin-bottom: 3rem;
  color: var(--white);
  font-size: 1.5rem;
  border-radius: 5px;
}

.questionContainer main {
  margin-bottom: 3rem;
  text-align:justify;
  font-size: 1rem;
}

.answerContainer button{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  background-color: #c4c4c4;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.answerContainer button:hover {
  color: var(--green);
}

.submitButton {
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  border: none;

  font-size: 1.5rem;
  padding: 0.5rem;
}